<header class="mb-5">
    <!-- FIXME elements cross each other -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-xxl">
            <a class="navbar-brand col-3" href="homepage"><h1>Testing platform</h1></a>
            <ul class="navbar-nav col-6">
                <li class="nav-item">
                    <a class="nav-link" href="tests"><fmt:message key="header_jspf.anchor.all_tests"/></a>
                </li>
            </ul>
            <ul class="navbar-nav col-1">
                <li class="nav-item">
                    <a class="nav-link" href="profile"><fmt:message key="header_jspf.anchor.profile"/></a>
                </li>
                <form class="nav-item" action="logout" method="post">
                    <input class="btn btn-dark" <%--style="background-color:transparent; border:none; color: rgba(255,255,255,.55)"--%>
                           type="submit" value="<fmt:message key="header_jspf.anchor.logout"/>">
                </form>
            </ul>
            <div class="dropdown">
                <%-- TODO add images to local folder --%>
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <c:choose>
                        <c:when test="${sessionScope.locale eq 'en'}">
                            <img width="20" height="20"
                                 src="https://www.flaticon.com/svg/vstatic/svg/197/197484.svg?token=exp=1615050397~hmac=3891870eecbc405cac0f75854d338e0e">
                        </c:when>
                        <c:when test="${sessionScope.locale eq 'ru'}">
                            <img width="20" height="20"
                                 src="https://www.flaticon.com/svg/vstatic/svg/197/197408.svg?token=exp=1615050397~hmac=2e3ea6f9ae5cb65b6879ec2dcc0dbd38">
                        </c:when>
                        <c:otherwise>
                            <img width="20" height="20"
                                 src="https://www.flaticon.com/svg/vstatic/svg/197/197484.svg?token=exp=1615050397~hmac=3891870eecbc405cac0f75854d338e0e">
                        </c:otherwise>
                    </c:choose>
                    <fmt:message key="header_jspf.dropdown.locale.label"/>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li>
                        <a class="dropdown-item" href="?locale=ru">
                            <img width="15" height="15"
                                 src="https://www.flaticon.com/svg/vstatic/svg/197/197408.svg?token=exp=1615050397~hmac=2e3ea6f9ae5cb65b6879ec2dcc0dbd38">
                            <fmt:message key="header_jspf.dropdown.locale.ru"/>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="?locale=en">
                            <img width="15" height="15"
                                 src="https://www.flaticon.com/svg/vstatic/svg/197/197484.svg?token=exp=1615050397~hmac=3891870eecbc405cac0f75854d338e0e">
                            <fmt:message key="header_jspf.dropdown.locale.en"/>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
